extends layout
block content
    script(defer, src='/js/admin.js')
    div
        h1 #{locals.title}
            p
                h2 Reset Competition
                form(method='post')
                    input(type='button',value='Reset',onclick='resetCompetition()')

            p
                h2 Change Band
                form(method='post')
                    #bandNames
                        select(id='bandName',onchange='changeBand()')
                            for bandName in bandNames
                                option(value='#{bandName}',selected=currentBand==bandName) #{bandName}

            p
                h2 Pick winner
                    form(method='post')
                        input(type='button', value='Go',onclick='pickWinner()')

            p
                h2 Clappers
                    p
                        #clappers
                            for clapper in clappers
                                #{clapper}

